#heading{
    color: red;
}
.header{
    display: flex;
    justify-content: space-between;
   
}
.Logo{
    width: 100px;
}
.Links > ul{
display: flex;
gap: 18px;
padding: 0px 30px;
list-style: none;
font-weight: 700;
font-size: 20px;
}
.Search{
    padding: 10px 20px;
}

.RetroCards{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 200px;
    height: 300px;
    border: 1px solid black;
    background-color: #f0f0f0;
}
.Restorant-name{
    color: chocolate;
    font-size: 20px;
}

.res-img{
    width: 180px;
    padding: 10px;
}

